<header>
<div class="container">
  <div class="logo">
    <a href=""><img src ="assets/angular.png"></a>
  </div>
  <nav>
    <ul>
      <li><a href="https://github.com/">home</a></li>
      <li><a href="">study</a></li>
      <li><a href="">education</a></li>
      <li><a href="">sports</a></li>
      <li><a href="">activity</a></li>
    </ul>
  </nav>
</div>
</header>

<section class="banner-section">
 <div class="container">
   <div class="content">
     <h1> This is a simple website</h1>
     <!-- h1 tag is used only one time in code -->
     <p>this is a normal</p>
   </div>
 </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          <h2>There are mutiple number of persons </h2>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <h2>There are mutiple number of persons1 </h2>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <h2>There are mutiple number of persons1 </h2>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div>
          <h2>There are mutiple number of persons </h2>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <h2>There are mutiple number of persons1 </h2>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <h2>There are mutiple number of persons1 </h2>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <h2>There are mutiple number of persons1 </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h2>There are mutiple number of persons </h2>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <h2>There are mutiple number of persons1 </h2>
        </div>
      </div>
      </div>
    </div>
  
</section>

<footer>
<div class="container">
   <p><strong>this is a normal website</strong></p> 
</div>
</footer>