<header>
<h2> this is responsive web design</h2>
<p> this is normal web design</p>
</header>

<section>
  <div class="demo1">
    <p> this is a demo1</p>
  </div>

  <div class="demo2">
    <p> this is a demo2</p>
  </div>

  <div class="demo3">
    <p> this is a demo3</p>
  </div>

</section>
<footer>
<span><p> this is a footer</p></span>
</footer>
<p innerHTML={{data}}></p>


...................................................................................................................


<div class="head">
  <h1> this is responsive</h1>
</div>

<div class="container">
  <div class="menu">
    <a href="#">Home</a>
    <a href="#">Address</a>
    <a href="#">phone no</a>
    <a href="#">pincode</a>
  </div>
</div>

<div class="main">
  <h2>this is a main section</h2>
  <p> this is a simple web responsive design included to all devices like laptop,desktop,ipad etc</p>
</div>

<div class="right-section">
  <h2>this is a right</h2>
  <p> this is a simple web responsive design included to all devices like laptop,desktop,ipad etc</p>
</div>

<!-- <div style="background-color: whitesmoke;">
  <p> this is webdesign for responsive</p>
</div> -->